
  body{
    margin: 0px;
    font-family: sans-serif;
    /* background-image: url("../images/comic.jpg"); */
    text-align: center;
    

  }
  #container{
    display: flex;
    justify-content: space-between;
    margin-bottom:20px;
  }

  .container-fluid{
    background: url(../images/square-bg.png);
    height:100px;
    margin-bottom:20px;
    text-align:center !important;
  }

  .container-fluid h1{
  text-align: center;
  line-height:30px;
  }

  .box{
    height: 300px;
    border: 1px solid #e5e5e5;
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 25px;
    text-align: center;
    position: relative;
  }

  .jumbotron{
    background: url(../images/square-bg.png);
    /* margin-left: 30px;
    margin-right: 30px;
    padding: 75px;
    text-align: center;
    position: relative; */
    height: 100px; 
      }

  #header{
    /* background-color: #EFEFEF; */
    margin-bottom: 20px;
    /* padding: 20px; */
    text-align: center
  }

  h1, h2,h3, p{
    color: whitesmoke;
    text-shadow: 0 5px 5px rgba(0,0,0,1);
  }

  /* individual font sizes */
h1 { font-size: 250%; }
h2 { font-size: 200%; }
h3 { font-size: 150%; }

  #player-name-and-reset-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    /* adadm*/
    background: url(../images/square-bg.png);
    /*height:200px;*/
    border:solid 2px #000;
    border-radius:10px;
    box-shadow:0 6px 6px -6px #000;
    padding:0;
  }

  .box{
    background: url(../images/square-bg.png);
    height:200px;
    border:solid 2px #000;
    border-radius:10px;
    box-shadow:0 6px 6px -6px #000;
    color:whitesmoke;
    text-shadow: 0 5px 5px rgba(0,0,0,1);
  }

  p{
    color:whitesmoke;   
  }

  #reset{
    float: right
  }

  #name{
    float: left;
    width: 60%;
  }

  #player-slot{
    text-align: center;
    /*margin-bottom: 30px*/
  }


.choice{
    color:black;
    text-align: center;
    font-size: 15px;
    margin:10px;
    border-radius:10px;
    background: grey;
    opacity:0.9;
    /*text-shadow: black 0.1em 0.1em 0.2em;*/
}

.choice:hover {
	opacity:.8;
	cursor:pointer;
  width: 102.5%;
  color: greenyellow;
}

.timer{
color:wheat;
text-align: right;

}

.red{
  background: red;
}


.question {
  color: white;
  /*font-weight: bolder;*/
  font-size: 15px;
  opacity: 1.5;  
  /*text-shadow: green 0.1em 0.1em 0.2em;*/
  /*text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F,
      0 0 0.2em #87F*/
}

#startgame{
  color: black;
  font-family: 'Concert One', cursive;
  text-shadow: none;
  font-size: 28px;
}

